/*!
 * Start Bootstrap - Blog Post (https://startbootstrap.com/template-overviews/blog-post)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-blog-post/blob/master/LICENSE)
 */

body {
  padding-top: 54px;
}

h1{
  color: #4E9A06;
}

h1 small{
  color: #638841;
}

h2{
  color: #73D216;
}

h5{
  color: #4E9A06;
}


/* MEDIA */
@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}
